body {
  background-color: rgb(153, 165, 175);
}

.header {
  border-bottom: black 1px solid;
  column-gap: 10px;
  background-color: rgb(153, 165, 175);
}

.bouldlytics-label {
  font-size: 40px;
}


.sidebar {
  width: 120px;
  margin: 5px;
  top: 62px;
  align-self: flex-start;
  align-items: start;
  row-gap: 5px;
}

.bouldering-list {
  background-color: rgb(199, 214, 228);
  border-width: 3px;
  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  width: 100%;
}

.bouldering-list-column-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: lightgray;
  padding: 10px;
  border-bottom: 1px solid black;
}

.bouldering-list-column-titles p {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}

.boulder-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
}

.boulder-card-details {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.climbing-stats-container {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
  column-gap: 50px;
  align-self: center;
}

.climb-status-summary {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  display: flex;
  column-gap: 30px;
  width: 320px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
  background-color: rgb(199, 214, 228);
}

.completed-climbs {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.not-completed-climbs {
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.climbing-average-div {
  display: flex;
  justify-content: space-evenly;
}

.average-grade {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 8px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(199, 214, 228);
}
